version: "3.8"

services:
  server1:
    build:
      context: ci/glusterfs-server
    image: glusterfs-server-arm64
    hostname: server1
    privileged: true
    environment:
      CGROUP_PIDS_MAX: 0
    volumes:
      - data1:/data
      - save1:/var/lib/glusterd
    depends_on:
      - server2

  server2:
    build:
      context: ci/glusterfs-server
    image: glusterfs-server-arm64
    hostname: server2
    privileged: true
    environment:
      CGROUP_PIDS_MAX: 0
    volumes:
      - data2:/data
      - save2:/var/lib/glusterd

volumes:
  data1:
  data2:
  save1:
  save2:
